:root {
  --text: #fde7e7;
  --background: #050505;
  --primary: #c7c4c1;
  --secondary: #1a1a19;
  --accent: #ff542e;

  --space: 60px;
}


* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px var(--space);
  border-bottom: 1px solid #555;
}


header>.logo{
  font-size: 1.5rem;
}

header>.menu{
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  column-gap: 6px;
  cursor: pointer;

  &:hover{
    color: var(--accent);
  }
}

main{
  flex-grow: 1;
}

footer{
  font-size: 1.1rem;
  text-align: center;
  color: #aaa;
  padding: 15px var(--space);
  border-top: solid #555 1.5px;
}

main{
  padding: 35px var(--space);
}

main>h1{
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

main>.todos{
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--space)*0.75);
  margin: var(--space) 0;
}

main>.todos>.todo{
  display: block;
  padding: 16px 25px;
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--background);
}

.todo>.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.top>.left{
  font-size: 1.2rem;
  font-weight: 700;
  
}

.top>.right{
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 1.25rem;
}